body {
    position: relative;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #5a274b;
    background-color: #ffffff;
    background-image: url("img/flower-bg.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: calc(45vw + 10px);
    margin: 0;
}

/* шапка сайта */
.page-header {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px 0;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
}

.container-header {
    max-width: 1450px;
    padding: 0 16px;
  }

.header-phone {
    padding-left: 25px;
    padding-bottom: 2px;
}

.header-location {
    padding-left: 25px;
    margin-left: 10px;
}

.page-header a, .delivery-phone, .link {
    color: #5a274b;
}

.page-header a:focus,
.page-header a:hover,
.delivery-phone:hover,
.link:hover {
  color: #c52669;
}

.page-header a:active,
.delivery-phone:active,
.link:active {
  color: #c52669;
}

.link {
    margin-right: 25px;
    margin-bottom: 20px;
}

.link-whatsapp {
    margin-left: 10px;
}

.contacts {
    display: flex; 
    font-size: 26px;
    line-height: 36px;
}

.contacts .link {
    font-size: 32px;
    line-height: 42px;
}

main {
    padding: 0 16px;
    margin-left: 100px;
}

h1 {
    font-size: 120px;
    text-transform: uppercase;
    color: #cb4965c4;
    margin-bottom: 100px;
    line-height: 160px;
    
}

.advantages {
    font-size: 30px;
    line-height: 50px;
    margin: auto;
    padding: 15px 0 60px;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.gallery .img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.img5 {
    margin-right: 0;
}

.visually-hidden {
    display: none;
}


figcaption {
    font-size: 17px;
    line-height: 30px;
}


.shop-phone, .shop-address {
    color: #5a274b;
    margin-bottom: 10px;
}

.shop-phone:hover, .shop-address:hover {
    color: #c52669;
}

.shop-phone:active, .shop-address:active {
    color: #c52669;
}



.delivery-text {
    margin-left: 40px;
    margin-bottom: 200px;
}

.time {
    text-decoration: underline;
}
