body {
    position: relative;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #5a274b;
    background-color: #ffffff;
    background-image: url("img/flower-bg.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: calc(45vw + 16px);
    margin: 0;
    width: 1300px;
}

/* шапка сайта */
.page-header {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px 0;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
}

.container-header {
    max-width: 1450px;
    padding: 0 16px;
  }

.header-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-header.svg");
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: left;
}

.header-location {
    padding-left: 25px;
    margin-left: 10px;
    background-image: url("img/icon-header-location.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.page-header a, .delivery-phone, .link {
    color: #5a274b;
}

.page-header a:focus,
.page-header a:hover,
.delivery-phone:hover,
.link:hover {
  color: #c52669;
}

.page-header a:active,
.delivery-phone:active,
.link:active {
  color: #c52669;
}

.link {
    margin-right: 20px;
}

.contacts {
    display: flex;
}

main {
    padding: 0 16px;
    margin-left: 100px;
}

h1 {
    font-size: 120px;
    text-transform: uppercase;
    color: #cb4965c4;
    margin-bottom: 100px;
}

.advantages {
    font-size: 30px;
    line-height: 50px;
    margin: auto;
    padding: 15px 0 60px;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.gallery .img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.img5 {
    margin-right: 0;
}

.visually-hidden {
    display: none;
}

.delivery-text {
    margin-left: 40px;
}
